<!DOCTYPE html>
  <head>
    <title>Welcome Home</title>
  </head>

  <body>
    <div>
      <h1>
        TRIVIA GAME
      </h1>
      <h2>
        {{question_answer_dict["question"]}}
      </h2>
      <p>
        A) {{question_answer_dict["A"]}}
      </p>
      <p>
        B) {{question_answer_dict["B"]}}
      </p>
      <p>
        C) {{question_answer_dict["C"]}}
      </p>
      <p>
        D) {{question_answer_dict["D"]}}
      </p>
      <form action="/home" method="POST">
          <input
            type="text"
            name="answer"
            placeholder="Type your answer"
          />
          <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>

